* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url("./img/img2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
    /* e agora a regra de ouro que fará a imagem ocupar todo o viewport */
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  height: 1100px;
  justify-content: center;
  align-items: center;
  
}

.btn {
  width: 250px;
  height: 50px;
  border: 1px solid #333;
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.btn::before,
.btn::after {
  position: absolute;
  background: #eee;
  z-index: -1;
  transition: 1s;
  content: "";
}

.btn::before {
  height: 50px;
  width: 300px;
}

.btn::after {
  width: 200px;
  height: 20px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: #fff;
}

.btn:hover::after {
  height: 0px;
  background: #fff;
}

.btn:hover {
  background: #fff;
}

.container .fakeImg {
  background: no-repeat center;
  background-size: cover;    
}

.container
{
  display:inline-block;
  border:2px solid red;
  margin: 5px;
}