body{
    margin: 0;
    width: 100vw;
    height: 140vh;
    background:url(https://img.freepik.com/vetores-gratis/laptop-com-icone-de-codigo-isometrico-de-programa-desenvolvimento-de-software-e-aplicacoes-de-programacao-neon-escuro_39422-971.jpg?size=626&ext=jpg);
    background-size: cover;
}

.social-media-container {
    width: 50px;
    display: block;
    background-color: rgb(155, 148, 151);
    color: white;
    position: fixed;
    right: 0;
    top: 120px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    z-index: 99999
}

.social-media-container div {
    padding: 5px;
}

#imagem{
    display: flex;
    justify-content: center;
}

.nome{
    color: aliceblue;
}

#cabecalho-um{
    color: aliceblue;
}

#cabecalho-dois{
    color: aliceblue;
}

#cabecalho-tres{
    color: aliceblue;
}

#cabecalho-quatro{
    color: aliceblue;
}

#cabecalho-cinco{
    color: aliceblue;
}